.services-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282d32;
  color: black;
  background-image: url(../images/background-acr.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.services-title {
  color: #fff;
}

.services-inner-container {
  width: 90%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.8);
}

.services-item {
  width: 30%;
}

.services-item-content {
  display: flex;
  flex-direction: column;
}

.services-item-description {
  margin: 0;
}

.services-item-description:hover {
  color: black!;
  text-decoration: none!;
  text-decoration-line: none!;
}
.links:link {
  text-decoration: none;
}

.links:hover {
  cursor: pointer;
  color: black;
}

.links:visited {
  color: black;
}

a.subnav_link:active {
  color: black;
}