.container {
  width: 80%;
}

#oneTire {
  margin: 5px 50px;
  height: 90vh;
  margin-bottom: -20px;
}

#tire {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

/* ONE RIM/ONE TIRE SLIDER CONTAINER */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* height: 500px; */
}

.slider-container > img {
  max-height: 500px;
}

.slider-parent-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.slide-container-img {
  max-height: 500px;
}

.empty-tire-img {
  max-width: 90%;
}

.slick-arrow,
.slick-prev:before,
.slick-next:before {
  color: blue
}

@media (max-width: 991px) {
  .slider-parent-container {
    width: 100%;
    margin: 0 auto;
  }
}