.container {
  width: 80%;
}

.oneTire {
  margin: 0 50px 5px 50px;
  padding-top: 10px;
}

#tire {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.one-tire-contact-section {
  min-height: 425px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.one-tire-contact-container {
  width: 50%;
  padding: 3rem;
  background-color: #282d32;
  border-radius: 50px;
}

.one-tire-contact-header {
  text-align: center;
  font-size: 2.2rem;
}

.one-tire-contact-form {
  display: flex;
  flex-direction: column;
}

.one-tire-contact-input {
  margin: 1rem 0;
}

.one-tire-contact-button {
  margin-top: 1.2rem;
  align-self: flex-end;
}

.one-tire-matching-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.one-tire-matching-header {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  align-self: center;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  color: #000;
}