.location {
  background-image: url(../images/Seattle.jpg);
  background-size: cover;
  padding-top: 1px;
}

.location p {
  color: #7d8285;
}

.location h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.location .intro {
  max-width: 500px;
  max-height: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50px;
  font-size: 16px;
}

.location iframe {
  background-color: #eee;
}

@media (max-width: 767px) {
  .location h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}