#page_title {
  color: whitesmoke;
}

#tire {
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

#model {
  font-size:large;
  font-weight:600;
}

#price {
  float:right;
  font-weight:700;
  font-size: 200%;
}

#condition {
  font-size:larger;
}

#tire-photo {
  max-width: 100%;
}

#main2{
  margin: 15px auto;
  align-content: center;
}

#body_list_tires{
  background-image:url(../images/repair.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.photos{
  max-width: 300px;
  max-height: 200px;
}

h3.switch{
  color: #fcc500;
}

.emptyTires {
  height: 75vh;
}

.emptyTires-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

/* SEARCH SWITCHER */
.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 8px;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: .4s;
}

input:checked+.slider:before {
  transform: translateX(30px);
  background: red;
}

input:checked+.slider {
  box-shadow: 0 0 0 2px red, 0 0 2px blue;
}

#searchBox {
  display: flex;
}

#searchInput {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 5px;
}

.searchBoxButtons {
  margin-top: 19px;
}

@media (max-width: 991px) {
  tire-photo {
    max-width: 100%;
  }

  #top {
    padding-top: 2px;
    /* margin-top: -8px; */
    height:38px;
  }

  #title {
    font-size:larger;
    margin-top:10px;
  }

  #box {
    margin:0px 0px;
    border:1px solid silver;
  }
}