#tire {
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

#model {
  font-size: large;
  font-weight: 600;
}

.photos {
  max-width: 300px;
  max-height: 200px;
}

h3.switch {
  color: #fcc500;
}

.emptyTires {
  height: 75vh;
}

.emptyTires-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.searchBoxButtons {
  margin-top: 19px;
}