.addnewrim-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 70%;
  border: 1px solid silver;
  padding: 5px 10px;
}

.addnewrim-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addnewrim-container input {
  width: 100%;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}
.input{
  max-width: 200px;
}