.addnewtire-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px 50px;
}

.addnewtire-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addnewtire-container input {
  width: 100%;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}

.input{
  max-width: 200px;
}

#addNewTire-box {
  margin: 0px auto;
  width: 70%;
  border: 1px solid silver;
}
